<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    welcome to homepage!
    <h4>what color</h4>

    <form action="/result" method="POST">
      <input type="text" name="color" />
      <button>submit</button>
    </form>

    <% if(isRaining) { %>
    <p>it is raining</p>
    <% }else{ %>
    <p>it is not raining</p>
    <%}%> <% pets.forEach(pet=>{ %>
    <li><%=pet.name%>(<%= pet.species%>)</li>
    <%}) %>
  </body>
</html>
